<div class="search_wrapper" ng-controller="HomeCtrl">
	<div class="search_management">
		<form class="search_window">
			<input name="SearchWord" type="text" ng-model="search_word" placeholder="検索ワード" maxlength="140"/><br>
		</form>
		<div class="filter_box">
			<a class="filter_icon">
				<svg ng-include="'img/icon/filter_list-24px.svg'" width="30px" height="30px" viewbox="0 0 24 24"></svg>
			</a>
			<div class="filter_options">オプションの設定<br>
				<hr>
				<form id="option">
					<a id="question">・検索件数</a>
					<span id="answer" id="text-right">
						<input type="text" name="RequestNumber" pattern="\d*" ng-model="request_number" placeholder="100" maxlength="6"/>　件<br>
					</span>
				</form>
				<hr>
				<form id="option" name="period">
					<div>
						<a id="question">・検索範囲</a>
						<span id="answer">
							<input id="radio1" class="radio_input" type="radio" name="radio1" ng-model="search_period" value="WEEK">
							<label for="radio1"> 　過去1週間</label>
							<input id="radio2" class="radio_input" type="radio" name="radio1" ng-model="search_period" value="MONTH">
							<label for="radio2"> 　過去1ヶ月間</label>
							<input id="radio3" class="radio_input" type="radio" name="radio1" ng-model="search_period" value="FULL">
							<label for="radio3"> 　無制限</label>
						</span>
					</div>
				</form>
				<hr>
				<form id="option">
					<div>
						<a id="question">・分析オプション</a>
						<span id="answer">
							<input id="check1" class="checkbox_input" type="checkbox" ng-model="analysis_option_sentiment" name="sentiment" value="true">
							<label for="check1" class="checkbox_parts"> 　得点計算</label>
							<input id="check2" class="checkbox_input" type="checkbox" ng-model="analysis_option_entity" name="entity" value="true">
							<label for="check2" class="checkbox_parts"> 　関連語分析</label>
						</span>
					</div>
				</form>
			</div>
		</div>
		<span class="analysis_option">
		</span>
		<a id="fab" class="search" ng-click="search()">
			<svg ng-include="'img/icon/search-24px.svg'" width="40px" height="40px" viewbox="0 0 24 24"></svg>
		</a>
	</div>
</div>
