<div class="search_wrapper" ng-controller="MemberCtrl" ng-init="resetParams()">
	<div class="search_management">
		<form class="search_window">
			<input name="SearchWord" type="text" ng-model="search_word" placeholder="Member" maxlength="140"/><br>
		</form>
		<a id="add_fab" class="add" ng-click="openModal()">
			<svg ng-include="'img/icon/add-24px.svg'" width="40px" height="40px" viewbox="0 0 24 24"></svg>
		</a>
	</div>

	<div class="modal_body" ng-show="modalFlag">
		<div class="member_add_box">
			<div class="member_add_options">新規メンバーの登録<br>
				<hr>
				<form id="option">
					<a id="question">・氏名(フルネーム)</a>
					<span id="answer" id="text-right">
						<input id="text_input" type="text" name="name" ng-model="name" placeholder=" 氏名"/><br>
					</span>
				</form>
				<hr>
				<form id="option">
					<a id="question">・ふりがな(フルネーム)</a>
					<span id="answer" id="text-right">
						<input id="text_input" type="text" name="nameRubi" ng-model="nameRubi" placeholder=" ふりがな"/><br>
					</span>
				</form>
				<hr>
				<form id="option">
					<a id="question">・学年</a>
					<span id="answer" id="text-right">
						<input type="text" name="grade" pattern="\d*" ng-model="grade" placeholder=" 学年" maxlength="2"/>　年<br>
					</span>
				</form>
				<hr>
				<form id="option">
					<div>
						<a id="question">・照明講習会</a>
						<span id="answer" id="text-left">
							<input id="check1" class="checkbox_input" type="checkbox" ng-model="qualificationOfLight" name="qualificationOfLight" value="true">
							<label for="check1" class="checkbox_parts"> 　照明講習会に参加した</label><br>
							<input id="check2" class="checkbox_input" type="checkbox" ng-model="qualificationOfLightManagement" name="qualificationOfLightManagement" value="true">
							<label for="check2" class="checkbox_parts"> 　照明責任者講習会に参加した</label>
						</span>
					</div>
				</form>
				<hr>
				<form id="option">
					<a id="question">・経験</a>
					<span id="answer" id="text-right">
						<a id="question">・舞台</a>
						<input type="text" name="stage" pattern="\d*" ng-model="stage" maxlength="3"/>　分<br>
					</span>
					<span id="answer" id="text-right">
						<a id="question">・幕吊り</a>
						<input type="text" name="hungingCurtain" pattern="\d*" ng-model="hungingCurtain" maxlength="3"/>　分<br>
					</span>
					<span id="answer" id="text-right">
						<a id="question">・灯体吊り</a>
						<input type="text" name="hungingLights" pattern="\d*" ng-model="hungingLights" maxlength="3"/>　分<br>
					</span>
				</form>
				<hr>
				<div class="modal-footer">
					<span id="flat_btn" ng-click="closeModal()">キャンセル</span>
					<span id="flat_btn" ng-click="addMember()">登録</span>
				</div>
			</div>
		</div>
	</div>
</div>
